.ilc_qanswer_Answer:before {
  padding: 3px;
  color: @il-btn-standard-color;
}

.il-feedbackOnCorrectAnswer.il-correct:before {
  content: '✔';
  background-color: @il-success-color;
}

.il-feedbackOnCorrectAnswer.il-notCorrect:before {
  content: '✖';
  background-color: @il-warning-color;
}
