<div class="ilc_question">
    <div class="ilc_qtitle_Title">{qtitle}</div>
    <!-- BEGIN single_answer -->
    <div class="ilc_answers answers answer-table ilClearFloat ilc_answers_SingleChoice">
        <!-- BEGIN answer_row -->
        <div class="ilc_qanswer_Answer">
            <div>
                <input type="radio" name="multiple_choice_result" value="{ID}" id="answer_{ID}" <!-- BEGIN checked -->checked="{CHECKED}"<!-- END checked -->>
            </div>
            <div>
                <label for="answer_{ID}" class="answertext">{ANSWER}</label>
            </div>
        </div>
        <div><span name="feedback" style="display:none">{FEEDBACK}</span></div>
        <!-- END answer_row -->
    </div>
    <!-- END single_answer -->
    <!-- BEGIN buttons --><div>{BUTTONS}</div><!-- END buttons -->
    <!-- BEGIN reached_points --><p>{REACHED_POINTS}</p><!-- END reached_points -->
</div>